:root {
    --primario: #7209b7;
    --primarioOscuro: #822fca;
    --secundario: #ffd60a;
    --secundarioOscuro: #ffc300;
    --blanco: #fff;
    --negro: #000;

    --funeteHeading: 'PT Sans', sans-serif;
    --funeteParrafo: 'Open Sans', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** GLOBALES **/
body {
    background-color: var(--primario);
    font-family: var(--funeteParrafo);
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    color: var(--blanco);
}

a {
    text-decoration: none;
    color: var(--blanco);
}

img {
    width: 100%;
    border-radius: 0.3rem;
}

ul { list-style: none; }

.contenedor {
    margin: 0 auto;
    width: min(90%, 120rem);
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--funeteHeading);
}

h1 { font-size: 4rem; }

h2 { font-size: 3.2rem; }

h1 { font-size: 2.4rem; }

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

/** HEADER **/
.header {
    padding: 3rem 0;
    font-size: 3rem;
}

.navegacion,
.header__redes {
    text-align: center;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.submenu {
    position: relative;
    color: var(--blanco);
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: #5500a0;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
    border-radius: 1rem;
}

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.button {
    color: var(--blanco);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    font-size: 1.5rem;
    padding: 1.2rem 1.5rem;
    border-bottom: 1px solid var(--negro);
}

#img-carrito {
    width: 3rem;
    height: auto;
}

/* Navegacion */
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 1rem;
    }
}

.navegacion__enlace {
    display: block;
}

.navegacion__enlace--activo {
    color: var(--secundario);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/** PRODUCTOS **/
.producto {
    background-color: var(--primarioOscuro);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.producto__img {
    width: 100%;

}

.producto__informacion {
    padding: 1rem;
}

.producto__nombre {
    font-size: 2rem;
    color: var(--blanco);
}

.producto__precio {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--funeteHeading);
    margin: 1rem 0;
    line-height: 1.2;
}

/** GRAFICOS **/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}

.grafico--camisas {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-column: 1 / 3;
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* NOSOTROS */
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .nosotros__img {
        margin: auto 0;
        grid-column: 2 / 3;
    }
}

.nosotros__img {
    grid-row: 1/ 2;
}

.nosotros__contenido {
    margin: 0;
    text-align: justify;
}

/** BLOQUES **/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

/* COMPRAR */
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.camisa__img {
    border-radius: 0.3rem;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    background-color: var(--blanco);
    border: none;
    border-radius: 0.3rem;
    appearance: none;
    font-size: 2rem;
    padding: 1rem;
    width: 100%;
}

.formulario__boton {
    grid-column: 1 / 3;
    background-color: var(--secundario);
    border: none;
    border-radius: 0.3rem;
    padding: 2rem 0;
    color: var(--blanco);
    text-transform: uppercase;
    font-family: var(--funeteHeading);
    font-weight: bold;
    transition: 0.5s background-color ease;
}

.formulario__boton:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

.error {
    background-color: rgb(182, 0, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    grid-column: 1 / 3;
    border-radius: 0.3rem;
}

.correcto {
    background-color: rgb(74, 185, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    grid-column: 1 / 3;
    border-radius: 0.3rem;
}

/** FOOTER **/
.footer {
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    text-align: center;
    color: var(--blanco);
}

/* Readme */
.readme {
    text-align: center;
}